body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 nav a {
   text-decoration: none;
   color:#090D68;
 }
 nav {
   display:flex;
 }
 .menu_item {
  margin-top: 44px;
  margin-left: 40px;
 }
 .menu_item a{
  font-size: 24px;
  font-weight: 600;
 }
 .add_btn_div button{
    padding: 8px 27px;
    color:#fff;
    border-radius: 12px;
    border: none;
    background-color:#090D68;
    font-size: 16px;
    margin-top:40px;
 
  } 
  .container{
    padding-left: 6%;
    padding-right: 6%;
    background:#F9FAFA
  }
  .add_btn_div {
    margin-left: auto;

  }

  .for_save_btn button {
    float: right;
    margin-top: 23px;
    margin-right: 32px;
    padding: 8px 27px;
    color:#fff;
    border-radius: 12px;
    border: none;
    background-color:#090D68;
    font-size: 16px
 }
 .order_buttons button {
      margin-top: 23px;
      margin-right: 32px;
      padding: 8px 27px;
      color:#fff;
      border-radius: 12px;
      border: none;
      background-color:#090D68;
      font-size: 16px
 }
 .order{
  margin-top: 100px;
 }
 /* fOORET
  */
  footer {
    
    background-color: #282C34;
    font-size:16px;
    font-weight: 500;
  }
  .Copyright{
    text-align:center;
  }
 .footer_logo{

 }
 